* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

/* NAV FIN */
.estiloNav {
  background-color: #f5f5f7;
  height: 250px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1; }

.estiloNavUl {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
  padding-left: 0rem; }

.estiloNavUl li {
  display: block;
  padding: 5px; }

.estiloNav a {
  text-decoration: none;
  color: #014f86; }

.logo {
  height: 50px;
  width: 75px; }

.estiloNav a:hover {
  color: #f7b53b; }

/* NAV FIN */
/* BANNER PRINCIPAL Y H1 INICIO */
.headerDesign {
  height: 300px;
  width: 100%; }

.headerDesign img {
  height: 300px; }

.contenedor-carousel {
  padding: 0; }

.carousel-banner {
  height: 300px;
  width: 100%; }

/* BANNER PRINCIPAL Y H1 FIN */
/* BANNER TIROLINA Y H1 INICIO */
.headerDesign2 img {
  height: 300px; }

.headerDesign2 {
  height: 300px;
  width: 100%; }

/* BANNER TIROLINA Y H1 FIN */
/* BANNER TERRAZA Y H1 INICIO */
.headerDesign3 img {
  height: 300px; }

.headerDesign3 {
  height: 300px;
  width: 100%; }

/* BANNER TERRAZA Y H1 FIN */
/* BANNER CABALLOS Y H1 INICIO */
.headerDesign4 img {
  height: 300px; }

.headerDesign4 {
  height: 300px;
  width: 100%; }

/* BANNER CABALLOS Y H1 FIN */
/* BANNER CONTACTO Y H1 INICIO */
.headerDesign5 img {
  height: 300px; }

.headerDesign5 {
  height: 300px;
  width: 100%; }

/* BANNER CONTACTO Y H1 FIN */
/* INICIO MAIN HOME */
.main {
  height: 2400px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a1" "a3" "a2" "a4" "a5" "a7" "a6";
  justify-content: space-around;
  align-items: center;
  justify-items: center; }
  .main .main-texto, .main .main-bienvenida p, .main .main-bienvenida h2, .main .main-bienvenida h4, .main .main-bienvenida .main-bienvenida-parrafo-dos {
    font-family: 'Roboto', sans-serif;
    text-align: center; }
  .main .main-bienvenida {
    grid-area: a1;
    width: 90%;
    margin-bottom: 2rem; }
    .main .main-bienvenida p {
      color: #b1a7a6;
      font-size: 20px;
      margin-top: 2rem;
      font-weight: 100; }
    .main .main-bienvenida h2 {
      color: #014f86;
      font-weight: 900;
      font-size: 30px;
      margin-top: 5rem; }
    .main .main-bienvenida h4 {
      color: #014f86;
      font-weight: normal;
      font-size: 25px;
      margin-top: 1rem; }
    .main .main-bienvenida .main-bienvenida-parrafo-dos {
      color: #b1a7a6;
      font-size: 20px;
      margin-top: 2rem;
      font-weight: 100; }
  .main .main-fotos, .main .main-tirolina-foto, .main .main-caballos-foto, .main .main-bar-foto {
    width: 75%;
    align-items: center;
    justify-items: center; }
  .main .main-texto-home, .main .main-tirolina-superman, .main .main-caballos-texto, .main .main-bar-texto {
    width: 100%;
    align-items: center;
    justify-items: center; }
  .main .main-tirolina-foto {
    grid-area: a3; }
  .main .main-tirolina-superman {
    grid-area: a2; }
  .main .main-caballos-foto {
    grid-area: a4; }
  .main .main-caballos-texto {
    grid-area: a5;
    font-size: 'Roboto', sans-serif; }
  .main .main-bar-foto {
    grid-area: a7; }
  .main .main-bar-texto {
    grid-area: a6; }
  .main h3 {
    font-size: 'Roboto', sans-serif;
    text-align: center;
    color: #014f86;
    font-size: 25px;
    font-weight: 300; }
  .main p {
    font-size: 'Roboto', sans-serif;
    text-align: center;
    color: #b1a7a6;
    font-size: 20px;
    font-weight: 300;
    margin-top: 1rem; }
  .main img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid;
    color: #f5f5f7; }

.flex-tirolina {
  width: 90%; }

/* FIN MAIN HOME */
/* INICIO MAIN 2 HOME */
.overlap-intento {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a1" "a2";
  height: 600px;
  justify-items: center;
  align-content: space-between;
  justify-content: center; }

.grid1 {
  width: 90%;
  grid-area: a2;
  justify-content: center; }

.grid2 {
  grid-area: a1;
  width: 90%;
  display: flex;
  align-items: center; }
  .grid2 img {
    border-radius: 2%;
    border: 5px solid;
    color: #f5f5f7;
    height: 80%;
    width: 100%; }

.overlap-intento {
  font-family: 'Roboto', sans-serif; }
  .overlap-intento h3 {
    color: #014f86;
    font-size: 20px; }
  .overlap-intento h4 {
    font-size: 20px; }
  .overlap-intento a {
    text-decoration: none;
    background-color: #f7b53b;
    color: white;
    padding: 10px 10px; }

/* FIN MAIN 2 HOME */
/* MAIN TIROLINA INICIO */
.main-div-tirolina {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-tirolina-intro {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem; }

.main-tirolina-intro h2 {
  color: #014f86;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-top: 7rem;
  text-align: center; }

.main-tirolina-intro p {
  color: #b1a7a6;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100; }

.tirolina {
  height: 1000px;
  display: flex;
  flex-direction: column;
  gap: 3rem; }
  .tirolina .salto-individual {
    height: 150px;
    width: 100%; }
  .tirolina .salto-tandem {
    height: 150px;
    width: 100%; }
  .tirolina img {
    height: 100%;
    width: 100%;
    border-radius: 2%;
    border: 3px solid;
    color: #f5f5f7; }
  .tirolina h3 {
    font-family: 'Roboto', sans-serif;
    color: #014f86;
    text-align: center;
    font-size: 25px; }
  .tirolina p {
    font-family: 'Roboto', sans-serif;
    color: #b1a7a6;
    text-align: left;
    font-size: 20px;
    margin-top: 1rem; }

.main-tirolina {
  height: 2500px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1.5fr 1fr 1fr;
  grid-template-areas: "a3" "a4" "a5";
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center; }
  .main-tirolina .main-tirolina-requisitos {
    grid-area: a3;
    width: 100%;
    margin-top: 5rem; }
  .main-tirolina h3 {
    font-family: 'Roboto', sans-serif;
    color: #014f86;
    text-align: center;
    font-size: 25px; }
  .main-tirolina .ul-tirolina {
    font-family: 'Roboto', sans-serif;
    color: #b1a7a6;
    font-size: 20px;
    margin-top: 2rem; }
  .main-tirolina .ul-tirolina-dos {
    margin-left: 2rem; }
  .main-tirolina li {
    margin-top: 0.5rem; }
  .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto {
    width: 250px; }
    .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto h3 {
      font-size: 20px;
      color: #014f86;
      font-family: 'Roboto', sans-serif; }
    .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto h4 {
      font-size: 20px;
      color: black;
      font-family: 'Roboto', sans-serif; }
    .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto p {
      font-size: 15px;
      color: #b1a7a6;
      font-family: 'Roboto', sans-serif; }
    .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto a {
      font-size: 15px;
      color: white;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      background-color: #f7b53b;
      padding: 10px 10px; }
  .main-tirolina .main-tirolina-fotos-tickets {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .main-tirolina .main-tirolina-fotos-tickets img {
      width: 50%;
      height: 50%;
      border-radius: 50%; }
    .main-tirolina .main-tirolina-fotos-tickets .tickets-superman {
      width: 100%;
      height: 100%; }
    .main-tirolina .main-tirolina-fotos-tickets .tickets-tandem {
      width: 100%;
      height: 100%; }
    .main-tirolina .main-tirolina-fotos-tickets h4 {
      color: #014f86;
      font-size: 20px;
      font-family: 'Roboto', sans-serif; }

/* MAIN TIROLINA FIN */
/* INICIO MAIN CABALLOS MOBILE */
.paseo-main {
  height: 1800px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 0.7fr 1,5fr;
  justify-content: space-between;
  grid-template-areas: "a1" "a2" "a3";
  align-items: center;
  align-content: center;
  justify-items: center; }

.paseo-main-intro {
  grid-area: a1;
  width: 90%;
  margin: 5rem 0 3rem 0; }

.paseo-main h2 {
  color: #014f86;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 2rem; }

.paseo-main p {
  font-family: 'Roboto', sans-serif;
  color: #b1a7a6;
  text-align: center;
  font-size: 20px;
  margin-top: 1rem; }

.paseo-main img {
  height: 100%;
  width: 100%; }

.paseo-imagen-uno {
  grid-area: a2;
  width: 90%; }

.paseo-main-requisitos {
  grid-area: a3;
  width: 90%;
  margin-top: 5rem; }

.ul-caballos {
  font-family: 'Roboto', sans-serif;
  color: #b1a7a6;
  font-size: 20px;
  margin-top: 2rem; }

.ul-caballos li {
  margin-top: 0.5rem; }

.paseo-main h3 {
  font-family: 'Roboto', sans-serif;
  color: #014f86;
  text-align: center;
  font-size: 25px; }

.paseo-main h4 {
  color: #014f86;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 1rem 0;
  text-align: center; }

.caballos-tickets {
  flex-direction: column;
  gap: 5rem; }

.caballos-tickets-izquierda {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .caballos-tickets-izquierda .caballo-tickets-texto {
    width: 80%; }
    .caballos-tickets-izquierda .caballo-tickets-texto h3 {
      font-size: 25px;
      font-family: 'Roboto', sans-serif;
      color: #014f86;
      text-align: start; }
    .caballos-tickets-izquierda .caballo-tickets-texto h4 {
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      color: black;
      text-align: start; }
    .caballos-tickets-izquierda .caballo-tickets-texto p {
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      color: #b1a7a6;
      text-align: start;
      width: 100%; }
    .caballos-tickets-izquierda .caballo-tickets-texto a {
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      color: white;
      text-align: start;
      background-color: #f7b53b;
      padding: 10px 10px; }

.caballos-tickets-derecha {
  flex-direction: column; }
  .caballos-tickets-derecha img {
    border-radius: 50%; }
  .caballos-tickets-derecha h4 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #014f86;
    text-align: start; }
  .caballos-tickets-derecha p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #b1a7a6; }

/* FIN MAIN CABALLOS MOBILE */
/* INICIO MAIN TERRAZA MOBILE */
.main-terraza {
  height: 3600px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9" "a10";
  justify-items: center; }
  .main-terraza .main-terraza-intro {
    grid-area: a1;
    width: 90%;
    margin: 5rem 0 3rem 0; }
    .main-terraza .main-terraza-intro h2 {
      color: #014f86;
      font-weight: 900;
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      margin-top: 3rem;
      text-align: center; }
    .main-terraza .main-terraza-intro p {
      font-family: 'Roboto', sans-serif;
      color: #b1a7a6;
      text-align: center;
      font-size: 20px;
      margin-top: 2rem; }
  .main-terraza .boton-carta-consulta {
    margin: 3rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: start;
    background-color: #f7b53b;
    padding: 10px 10px;
    border-radius: 1%; }

.div-desayunos {
  display: none; }

.div-restaurante {
  display: none; }

.main-terraza-desayunos {
  border-radius: 1%;
  grid-area: a2;
  width: 80%;
  height: 80%;
  background-image: url(../img/fotodesa.png);
  background-size: cover;
  background-repeat: no-repeat; }

.main-terraza-desayunos-texto {
  grid-area: a3; }

.main-terraza-restaurante-texto {
  grid-area: a5; }

.main-terraza-copas-texto {
  grid-area: a7; }

.main-terraza-postres-texto {
  grid-area: a9; }

.main-terraza-food {
  border-radius: 1%;
  grid-area: a4;
  width: 80%;
  height: 80%;
  background-image: url(../img/fotorest.png);
  background-size: cover;
  background-repeat: no-repeat; }

.main-terraza-bebidas {
  border-radius: 1%;
  grid-area: a6;
  width: 80%;
  height: 80%;
  background-image: url(../img/fotocopas.png);
  background-size: cover;
  background-repeat: no-repeat; }

.main-terraza-postres {
  border-radius: 1%;
  grid-area: a8;
  width: 80%;
  height: 80%;
  background-image: url(../img/fotopostre.png);
  background-size: cover;
  background-repeat: no-repeat; }

.main-terraza-eventos {
  grid-area: a10;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-terraza-eventos p {
    text-align: left; }

.main-terraza-texto-mobile {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: start;
  gap: 0rem; }

.main-terraza-texto-mobile a {
  font-family: 'Roboto', sans-serif;
  color: #b1a7a6;
  font-size: 18px; }

.main-terraza p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #b1a7a6;
  text-align: center;
  margin-top: 1rem; }

.main-terraza h3 {
  text-align: center;
  color: #014f86;
  font-family: 'Roboto', sans-serif;
  font-size: 25px; }

/* FIN MAIN TERRAZA MOBILE */
/* MAIN FORM INICIO MOBILE */
.intro-contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%; }

.intro-contacto h2 {
  color: #014f86;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-top: 5rem;
  text-align: center; }

.intro-contacto p {
  font-family: 'Roboto', sans-serif;
  color: #b1a7a6;
  text-align: center;
  font-size: 20px;
  width: 80%; }

.main-contacto-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  margin: 2rem 0;
  gap: 2rem; }

.main-contacto-grid h3 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #014f86;
  text-align: center;
  margin-bottom: 2rem; }

.main-contacto-form {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.main-contacto-izquierda {
  width: 85%; }

.main-contacto-derecha {
  width: 90%;
  margin-bottom: 2rem; }

.main-contacto-grid ul {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  color: #b1a7a6;
  font-size: 20px;
  text-align: left;
  margin-bottom: 1rem;
  padding: 0; }

.input-nombre {
  border: none;
  background-color: #edede9;
  height: 2rem;
  padding-left: 1rem;
  font-family: 'Roboto', sans-serif; }

.input-email {
  border: none;
  background-color: #edede9;
  height: 2rem;
  padding-left: 1rem;
  font-family: 'Roboto', sans-serif; }

.input-telefono {
  border: none;
  background-color: #edede9;
  height: 2rem;
  padding-left: 1rem;
  font-family: 'Roboto', sans-serif; }

.input-consulta {
  border: none;
  background-color: #edede9;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-family: 'Roboto', sans-serif; }

.input-boton {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #f7b53b;
  border-radius: 2px;
  width: 50%;
  padding: 0.7rem; }

.input-boton:hover {
  color: #014f86; }

/* MAIN FORM FIN MOBILE */
/* INICIO FAQ */
.acordion {
  width: 100%; }

.faq {
  margin: 2rem 0; }

.faq button {
  font-size: 20px;
  font-family: 'Roboto', sans-serif; }

.faq h3 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #014f86;
  text-align: center;
  margin-bottom: 2rem; }

.accordion-body {
  font-family: 'Roboto', sans-serif;
  color: #b1a7a6;
  font-size: 20px;
  margin-top: 1rem; }

/* FIN FAQ */
/* INICIO MAPA CONTACTO */
.div-mapa {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  align-items: center; }

.mapa {
  width: 80%;
  height: 80%;
  margin-bottom: 2rem; }

.div-mapa h3 {
  color: #014f86;
  font-weight: 900;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem; }

/* FIN MAPA CONTACTO */
/* FOOTER INICIO */
.footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "a1" "a2" "a3";
  background-color: #f5f5f7; }

.footerIzquierda {
  grid-area: a1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.footerCentro {
  grid-area: a2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.footerDerecha {
  grid-area: a3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.footerIzquierdaDentro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.footerCentroDentro {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footerDerechaDentro {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer p {
  margin: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

.footer a {
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

.footer h4 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif; }

/* FOOTER FIN */
/* NAV Y LOGO INICIO COMPUTADORA */
@media (min-width: 481px) and (max-width: 768px) {
  .estiloNav {
    height: 150px;
    flex-direction: column; }
  .estiloNavUl {
    font-size: 15px;
    text-align: right; }
  .estiloNavUl li {
    display: inline-block;
    padding: 5px; }
  .logo {
    height: 75px;
    width: 100px; }
  /* NAV Y LOGO FIN MEDIA */
  .main img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border: 3px solid;
    color: #f5f5f7; }
  .main-tirolina-foto {
    display: flex;
    justify-content: center; }
  .main-tirolina-superman {
    width: 80%; }
  .main-caballos-foto {
    display: flex;
    justify-content: center; }
  .main-caballos-texto {
    width: 80%; }
  .main-bar-foto {
    display: flex;
    justify-content: center; }
  .main-bar-texto {
    width: 80%; }
  .overlap-intento {
    margin-bottom: 2rem; }
    .overlap-intento img {
      border: 10px solid;
      width: 80%; }
    .overlap-intento .grid2 {
      justify-content: center;
      align-items: center; }
    .overlap-intento .grid1 {
      width: 80%;
      justify-content: center; }
      .overlap-intento .grid1 div {
        display: flex;
        flex-direction: column;
        align-items: center; }
      .overlap-intento .grid1 h3 {
        font-size: 25px; }
      .overlap-intento .grid1 h4 {
        font-size: 25px; }
      .overlap-intento .grid1 p {
        font-size: 15px; }
        .overlap-intento .grid1 p span {
          display: block;
          text-align: center; }
  /* FIN HOME MEDIA */
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "a1 a2 a3"; }
    .footer .footerIzquierda {
      grid-area: a1;
      align-items: start; }
    .footer .footerCentro {
      grid-area: a2;
      align-items: start; }
    .footer .footerDerecha {
      grid-area: a3;
      align-items: start; }
    .footer p {
      font-size: 12px; }
    .footer a {
      font-size: 12px; }
  /* FIN FOOTER MEDIA */
  .main-div-tirolina {
    height: 450px; }
  .main-tirolina-intro {
    width: 95%; }
    .main-tirolina-intro h2 {
      margin-top: 5rem; }
  .tirolina .salto-individual {
    height: 200px; }
  .tirolina .salto-tandem {
    height: 200px; }
  .tirolina .salto-tandem-texto span {
    display: block;
    margin-top: 2rem; }
  .main-tirolina {
    height: 2200px; }
    .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto {
      width: 100%; }
      .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto h3 {
        font-size: 25px; }
      .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto h4 {
        font-size: 25px; }
      .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto p {
        font-size: 20px;
        font-family: 'Roboto', sans-serif; }
        .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto p span {
          display: block; }
    .main-tirolina .main-tirolina-fotos-tickets img {
      width: 80%;
      height: 80%;
      border-radius: 50%; }
    .main-tirolina .main-tirolina-fotos-tickets h4 {
      font-size: 25px; }
    .main-tirolina .main-tirolina-fotos-tickets p {
      font-size: 20px; }
  /* FIN SECCION TIROLINA MEDIA SIZE */
  /* COMIENZO SECCION CABALLOS MEDIA SIZE */
  .paseo-main {
    height: 1500px; }
    .paseo-main .paseo-main-intro {
      width: 95%; }
  .caballos-tickets-derecha {
    flex-direction: row;
    justify-content: center; }
    .caballos-tickets-derecha h4 {
      font-size: 25px; }
    .caballos-tickets-derecha img {
      height: 175px;
      width: 175px; }
    .caballos-tickets-derecha p {
      font-size: 25px; }
  /* FIN SECCION CABALLOS MEDIA SIZE */
  .main-terraza {
    height: 3000px; }
    .main-terraza .main-terraza-intro {
      width: 80%;
      margin: 3rem 0 3rem 0; }
  /* FIN SECCION TERRAZA MEDIA SIZE */
  .input-boton {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #f7b53b;
    border-radius: 2px;
    width: 30%;
    padding: 0.7rem; }
  .div-mapa h3 {
    font-size: 30px; }
  /* FIN SECCION CONTACTO MEDIA SIZE */ }

@media (min-width: 769px) and (max-width: 1024px) {
  .estiloNav {
    height: 150px;
    flex-direction: row; }
  .estiloNavUl {
    font-size: 15px;
    text-align: right;
    margin-right: 2rem; }
  .estiloNavUl li {
    display: inline-block;
    padding: 10px; }
  .logo {
    height: 85px;
    width: 125px;
    margin-left: 2rem; }
  /* FIN NAV TERCER MEDIDA */
  .main {
    height: 1600px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-areas: "a1 a1" "a2 a3" "a4 a5" "a6 a7";
    align-content: space-around; }
  .main-tirolina-superman {
    background-color: #f5f5f7;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 2%; }
  .flex-tirolina {
    width: 90%; }
  .main-caballos-texto {
    background-color: #f5f5f7;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 2%; }
  .main-bar-texto {
    background-color: #f5f5f7;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 2%; }
  .main img {
    height: 300px;
    border-radius: 50%;
    border: 3px solid;
    color: #f5f5f7; }
  .main-tirolina-foto {
    width: 75%; }
  .main-caballos-foto {
    width: 75%; }
  .main-bar-foto {
    width: 75%; }
  .main h3 {
    font-size: 25px; }
  .main p {
    font-size: 20px; }
  /* FIN HOME TERCER MEDIDA */
  .overlap-intento {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "a1 a2";
    height: 400px;
    justify-items: normal;
    align-content: normal;
    justify-content: normal; }
  .grid1 {
    width: 100%;
    grid-area: a1; }
    .grid1 div {
      width: 80%; }
  .grid2 {
    grid-area: a2;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }
    .grid2 img {
      width: 350px;
      height: 250px;
      border: 10px solid; }
  /* FIN HOME 2 TERCER MEDIDA */
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "a1 a2 a3"; }
  .footerIzquierda {
    grid-area: a1;
    align-items: start; }
  .footerCentro {
    grid-area: a2;
    align-items: start; }
  .footerDerecha {
    grid-area: a3;
    align-items: start; }
  /* FIN FOOTER TERCER MEDIDA */
  .main-div-tirolina {
    height: 300px; }
    .main-div-tirolina h2 {
      margin-top: 3rem; }
    .main-div-tirolina p {
      margin-bottom: 3rem; }
  .tirolina p {
    text-align: center; }
  .tirolina .salto-individual {
    height: 300px; }
  .tirolina .salto-tandem {
    height: 300px; }
  .tirolina .salto-tandem-texto span {
    display: block;
    margin-top: 2rem; }
  .main-tirolina {
    height: 1200px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: "a1 a1" "a7 a8";
    justify-content: space-evenly; }
    .main-tirolina .main-tirolina-requisitos {
      grid-area: a1; }
    .main-tirolina .main-tirolina-tickets {
      grid-area: a7; }
    .main-tirolina .main-tirolina-fotos-tickets {
      grid-area: a8;
      flex-direction: row; }
      .main-tirolina .main-tirolina-fotos-tickets img {
        width: 75%;
        height: 75%; }
  /* FIN SECCION TIROLINA TERCER MEDIDA */
  /* COMIENZO SECCION CABALLOS TERCER MEDIDA */
  .paseo-main {
    height: 1500px; }
    .paseo-main img {
      border-radius: 2%; }
    .paseo-main .paseo-main-intro {
      width: 90%; }
      .paseo-main .paseo-main-intro h2 {
        font-size: 40px; }
      .paseo-main .paseo-main-intro p {
        font-size: 22px; }
    .paseo-main .paseo-main-requisitos h3 {
      font-size: 30px; }
    .paseo-main .paseo-main-requisitos .ul-caballos li {
      font-size: 20px; }
  .caballos-tickets-derecha {
    flex-direction: row;
    justify-content: center;
    gap: 10rem; }
    .caballos-tickets-derecha h4 {
      font-size: 25px; }
    .caballos-tickets-derecha img {
      height: 175px;
      width: 175px; }
    .caballos-tickets-derecha p {
      font-size: 25px; }
  .caballos-tickets-izquierda .caballo-tickets-texto a {
    font-weight: bold; }
  /* COMIENZO SECCION CABALLOS TERCER MEDIDA */
  .main-terraza {
    height: 3000px;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
    justify-content: center; }
    .main-terraza .main-terraza-intro {
      width: 80%;
      margin: 2rem 0; }
      .main-terraza .main-terraza-intro .main-terraza-intro p {
        font-size: 25px;
        margin-top: 2rem; }
  .main-terraza-desayunos {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-size: cover;
    border-radius: 0%; }
  .div-desayunos {
    height: 300px;
    width: 300px;
    background-color: #233d4d;
    opacity: 0.8;
    margin-right: 7rem;
    border: 5px solid;
    color: #011627;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-terraza-food {
    grid-area: a3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    border-radius: 0%; }
  .div-restaurante {
    height: 300px;
    width: 300px;
    background-color: white;
    opacity: 0.8;
    margin-left: 7rem;
    border: 5px solid;
    color: #011627;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .div-desayunos p {
    font-size: 16px;
    width: 70%;
    color: white;
    margin-top: 1rem; }
  .div-restaurante p {
    color: #233d4d;
    font-size: 16px;
    width: 70%;
    margin-top: 1rem; }
  .main-terraza-bebidas {
    grid-area: a4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-size: cover;
    border-radius: 0%; }
  .main-terraza-postres {
    grid-area: a5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    border-radius: 0%; }
  .main-terraza-eventos {
    grid-area: a6;
    margin-top: 3rem;
    width: 80%; }
  .main-terraza-eventos p {
    font-size: 22px;
    margin-top: 1rem; }
  .main-terraza h2 {
    font-size: 45px; }
  .div-desayunos h3 {
    margin-top: 2rem;
    font-size: 25px;
    color: white; }
  .div-restaurante h3 {
    margin-top: 2rem;
    font-size: 25px;
    color: #233d4d; }
  .a-izq {
    color: #233d4d;
    font-size: 15px;
    font-family: 'Roboto', sans-serif; }
  .a-der {
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif; }
  .main-terraza-texto-mobile {
    display: none; }
  /* FIN MAIN TERRAZA PC */
  .intro-contacto h2 {
    font-size: 30px; }
  .intro-contacto p {
    font-size: 20px;
    width: 100%; }
  .main-contacto-grid {
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr;
    align-items: flex-start; }
  .main-contacto-grid ul {
    font-size: 18px; }
  .input-boton {
    font-size: 18px; }
  .div-mapa h3 {
    font-size: 30px; } }

@media only screen and (min-width: 1025px) {
  .estiloNav {
    height: 150px;
    flex-direction: row; }
  .estiloNavUl {
    font-size: 15px;
    text-align: right;
    margin-right: 2rem; }
  .estiloNavUl li {
    display: inline-block;
    padding: 10px; }
  .logo {
    height: 100px;
    width: 150px;
    margin-left: 2rem; }
  /* NAV Y LOGO FIN COMPUTADORA */
  /* BANNER PRINCIPAL Y H1 INICIO COMPUTADORA */
  h1 {
    font-size: 700; }
  .headerDesign {
    height: 500px; }
  .headerDesign img {
    height: 500px; }
  .carousel-banner {
    height: 500px;
    width: 100%; }
  /* BANNER PRINCIPAL Y H1 FIN COMPUTADORA */
  /* BANNER TIROLINA Y H1 INICIO */
  .headerDesign2 {
    height: 500px;
    width: 100%; }
    .headerDesign2 img {
      height: 500px; }
  /* BANNER TIROLINA Y H1 FIN */
  /* BANNER TERRAZA Y H1 INICIO */
  .headerDesign3 {
    height: 500px;
    width: 100%; }
    .headerDesign3 img {
      height: 500px; }
  /* BANNER TERRAZA Y H1 FIN */
  /* BANNER CABALLOS Y H1 INICIO */
  .headerDesign4 {
    height: 500px;
    width: 100%; }
    .headerDesign4 img {
      height: 500px; }
  /* BANNER CABALLOS Y H1 FIN */
  /* BANNER CONTACTO Y H1 INICIO */
  .headerDesign5 {
    height: 500px;
    width: 100%; }
    .headerDesign5 img {
      height: 500px; }
  /* BANNER CONTACTO Y H1 FIN */
  /* INICIO MAIN */
  .main {
    height: 1800px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-areas: "a1 a1" "a2 a3" "a4 a5" "a6 a7";
    align-content: space-around; }
    .main .main-bienvenida h2 {
      font-size: 40px; }
    .main .main-bienvenida p {
      font-size: 25px; }
    .main .main-bienvenida h4 {
      font-size: 30px; }
    .main .main-bienvenida .main-bienvenida-parrafo-dos {
      font-size: 25px; }
  .main-tirolina-superman {
    background-color: #f5f5f7;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 2%; }
  .flex-tirolina {
    width: 90%; }
  .main-caballos-texto {
    background-color: #f5f5f7;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 2%; }
  .main-bar-texto {
    background-color: #f5f5f7;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 2%; }
  .main img {
    height: 70%;
    width: 70%;
    text-align: center; }
  .main-tirolina-foto {
    width: 100%;
    display: flex;
    justify-content: center; }
  .main-caballos-foto {
    width: 100%;
    display: flex;
    justify-content: center; }
  .main-bar-foto {
    width: 100%;
    display: flex;
    justify-content: center; }
  .main h3 {
    font-size: 30px; }
  .main p {
    font-size: 20px; }
  /* FIN MAIN */
  /* INICIO MAIN 2 HOME*/
  .overlap-intento {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "a1 a2";
    height: 400px;
    justify-items: normal;
    align-content: normal;
    justify-content: normal; }
  .grid1 {
    width: 100%;
    grid-area: a1;
    display: flex;
    justify-content: end; }
    .grid1 div {
      width: 75%; }
  .grid2 {
    grid-area: a2;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }
    .grid2 img {
      width: 350px;
      height: 250px;
      border: 10px solid; }
  /* FIN MAIN 2 HOME */
  /* MAIN TIROLINA INICIO */
  .main-div-tirolina {
    height: 350px; }
    .main-div-tirolina h2 {
      margin-top: 3rem;
      font-size: 30px; }
    .main-div-tirolina p {
      margin-bottom: 3rem;
      font-size: 25px; }
  .tirolina {
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-content: center; }
    .tirolina .tirolina-articles {
      width: 80%; }
      .tirolina .tirolina-articles h3 {
        font-size: 30px; }
      .tirolina .tirolina-articles p {
        text-align: center;
        font-size: 25px; }
      .tirolina .tirolina-articles .salto-individual {
        height: 400px; }
      .tirolina .tirolina-articles .salto-tandem {
        height: 400px; }
  .main-tirolina {
    height: 1500px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "a1 a1" "a7 a8";
    justify-content: space-evenly;
    /* FIN SECCION TIROLINA XL SIZE */ }
    .main-tirolina .main-tirolina-requisitos {
      grid-area: a1;
      width: 70%; }
      .main-tirolina .main-tirolina-requisitos h3 {
        font-size: 30px; }
      .main-tirolina .main-tirolina-requisitos li {
        font-size: 25px; }
    .main-tirolina .main-tirolina-tickets {
      grid-area: a7;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end; }
      .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto {
        width: 400px; }
        .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto h3 {
          font-size: 25px; }
        .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto h4 {
          font-size: 25px;
          font-family: 'Roboto', sans-serif; }
        .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto p {
          color: #b1a7a6;
          font-family: 'Roboto', sans-serif;
          font-size: 20px; }
        .main-tirolina .main-tirolina-tickets .main-tirolina-tickets-texto a {
          text-decoration: none;
          background-color: #f7b53b;
          color: white;
          padding: 10px 10px;
          font-size: 20px; }
    .main-tirolina .main-tirolina-fotos-tickets {
      grid-area: a8;
      flex-direction: row; }
      .main-tirolina .main-tirolina-fotos-tickets img {
        width: 80%;
        height: 80%; }
      .main-tirolina .main-tirolina-fotos-tickets h4 {
        font-size: 25px; }
      .main-tirolina .main-tirolina-fotos-tickets p {
        font-size: 20px; }
  /* MAIN TIROLINA FIN */
  /* INICIO MAIN CABALLOS PC */
  .paseo-main {
    height: 1700px; }
    .paseo-main img {
      border-radius: 2%;
      height: 80%;
      width: 80%; }
    .paseo-main .paseo-main-intro {
      width: 80%; }
      .paseo-main .paseo-main-intro h2 {
        font-size: 40px; }
      .paseo-main .paseo-main-intro p {
        font-size: 22px; }
    .paseo-main .paseo-imagen-uno {
      display: flex;
      justify-content: center; }
    .paseo-main .paseo-main-requisitos {
      width: 80%; }
      .paseo-main .paseo-main-requisitos h3 {
        font-size: 40px; }
      .paseo-main .paseo-main-requisitos .ul-caballos li {
        font-size: 22px; }
  .caballos-tickets {
    flex-direction: row;
    gap: 2rem;
    justify-content: center; }
    .caballos-tickets .caballos-tickets-izquierda .caballo-tickets-texto {
      width: 60%; }
  .caballos-tickets-derecha {
    flex-direction: row; }
    .caballos-tickets-derecha img {
      border-radius: 50%; }
    .caballos-tickets-derecha h4 {
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      color: #014f86;
      text-align: start; }
    .caballos-tickets-derecha p {
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      color: #b1a7a6; }
  /* FIN MAIN CABALLOS PC */
  /* INICIO MAIN TERRAZA PC */
  .main-terraza {
    height: 3700px;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
    justify-content: center; }
    .main-terraza .main-terraza-intro {
      width: 80%;
      margin-top: 1rem; }
      .main-terraza .main-terraza-intro .main-terraza-intro p {
        font-size: 30px;
        margin-top: 2rem; }
  .main-terraza-desayunos {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-size: cover;
    border-radius: 0%; }
  .div-desayunos {
    height: 300px;
    width: 300px;
    background-color: #233d4d;
    opacity: 0.8;
    margin-right: 7rem;
    border: 5px solid;
    color: #011627;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-terraza-food {
    grid-area: a3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    border-radius: 0%; }
  .div-restaurante {
    height: 300px;
    width: 300px;
    background-color: white;
    opacity: 0.8;
    margin-left: 7rem;
    border: 5px solid;
    color: #011627;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .div-restaurante p {
    color: #233d4d;
    font-size: 16px;
    width: 70%;
    margin-top: 1rem; }
  .main-terraza-bebidas {
    grid-area: a4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-size: cover;
    border-radius: 0%; }
  .main-terraza-postres {
    grid-area: a5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    border-radius: 0%; }
  .main-terraza-eventos {
    grid-area: a6;
    margin-top: 3rem;
    width: 80%; }
  .main-terraza-eventos p {
    font-size: 22px;
    margin-top: 1rem; }
  .div-desayunos p {
    font-size: 16px;
    width: 70%;
    color: white;
    margin-top: 1rem; }
  .main-terraza h2 {
    font-size: 45px; }
  .div-desayunos h3 {
    margin-top: 2rem;
    font-size: 25px;
    color: white; }
  .div-restaurante h3 {
    margin-top: 2rem;
    font-size: 25px;
    color: #233d4d; }
  .a-izq {
    color: #233d4d;
    font-size: 15px;
    font-family: 'Roboto', sans-serif; }
  .a-der {
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif; }
  .main-terraza-texto-mobile {
    display: none; }
  /* FIN MAIN TERRAZA PC */
  /* MAIN FORM INICIO PC */
  .intro-contacto h2 {
    font-size: 45px; }
  .intro-contacto p {
    font-size: 20px;
    width: 100%; }
  .main-contacto-grid {
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr;
    align-items: flex-start; }
  .main-contacto-grid h3 {
    font-size: 30px; }
  .main-contacto-izquierda {
    width: 80%; }
  .main-contacto-grid ul {
    font-size: 20px; }
  .input-boton {
    width: 40%;
    padding: 0.7rem;
    font-size: 15px; }
  /* INICIO FAQ */
  .acordion {
    width: 80%; }
  .faq h3 {
    font-size: 30px; }
  .accordion-body {
    font-size: 15px; }
  .faq button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px; }
  .div-mapa h3 {
    font-size: 30px; }
  /* MAIN FORM FIN PC */
  /* FOOTER INICIO */
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "a1 a2 a3"; }
  .footerIzquierda {
    grid-area: a1;
    align-items: start; }
  .footerCentro {
    grid-area: a2;
    align-items: start; }
  .footerDerecha {
    grid-area: a3;
    align-items: start; }
  /* FOOTER FIN */ }
