* {
    margin: 0;
    padding: 0;
}

.body {
    overflow-x: hidden;
}
/* NAV FIN */

    .estiloNav {
        background-color: #f5f5f7;
        height: 250px;
        position: sticky;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }

    .estiloNavUl {

        list-style-type: none;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        text-align: center;  
        padding-left: 0rem;
    }
    
    .estiloNavUl li {
        display: block;
        padding: 5px;
    }
    
    .estiloNav a {
        text-decoration: none;
        color: #014f86;
    }
    
    .logo {
        height: 50px;
        width: 75px;
    }

    .estiloNav a:hover {
        color: #f7b53b;
    }

/* NAV FIN */

/* BANNER PRINCIPAL Y H1 INICIO */

.headerDesign {
    height: 300px;
    width: 100%;  
}

.headerDesign img {
    height: 300px;
}

.contenedor-carousel {
    padding: 0;
}

.carousel-banner {
    height: 300px;
    width: 100%;
}

/* BANNER PRINCIPAL Y H1 FIN */

/* BANNER TIROLINA Y H1 INICIO */

.headerDesign2 {
    background-image: url(../img/bannerTirolina.png);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* BANNER TIROLINA Y H1 FIN */

/* BANNER TERRAZA Y H1 INICIO */

.headerDesign3 img{
    height: 300px;
}

.headerDesign3 {
    height: 300px;
    width: 100%;
}

/* BANNER TERRAZA Y H1 FIN */

/* BANNER CABALLOS Y H1 INICIO */

.headerDesign4 {
    background-image: url(../img/bannerCaballos.png);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* BANNER CABALLOS Y H1 FIN */

/* BANNER CONTACTO Y H1 INICIO */

.headerDesign5 img{
    height: 300px;
}

.headerDesign5 {
    height: 300px;
    width: 100%;
}

/* BANNER CONTACTO Y H1 FIN */


/* INICIO MAIN HOME */

.main {
    height: 2400px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a1"
                         "a3"
                         "a2"
                         "a4"
                         "a5"
                         "a7"
                         "a6";

    justify-content: space-around;
    align-items: center;
    justify-items: center;

    .main-texto {
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    .main-bienvenida {
   
        grid-area: a1;
        width: 90%;
        margin-bottom: 2rem;

    p {
        @extend .main-texto;
        color: #b1a7a6;
        font-size: 20px;
        margin-top: 2rem;
        font-weight: 100;
    }

    h2 {
        @extend .main-texto;
        color: #014f86;
        font-weight: 900;
        font-size: 30px;
        margin-top: 5rem;
    }

    h4 {
        @extend .main-texto;
        color: #014f86;
        font-weight: normal;
        font-size: 25px;
        margin-top: 1rem;
    }

    .main-bienvenida-parrafo-dos {
        @extend .main-texto;
        color: #b1a7a6;
        font-size: 20px;
            margin-top: 2rem;
            font-weight: 100;
        }
    }

    .main-fotos {
        width: 75%;
        align-items: center;
        justify-items: center;
    }

    .main-texto-home {
        width: 100%;
        align-items: center;
        justify-items: center;
    }

    .main-tirolina-foto {
        @extend .main-fotos;
        grid-area: a3;
    }

    .main-tirolina-superman {
        grid-area: a2;
        @extend .main-texto-home;
    }

    .main-caballos-foto {
        grid-area: a4;
        @extend .main-fotos;
    }

    .main-caballos-texto {
        grid-area: a5;
        @extend .main-texto-home;
        font-size: 'Roboto', sans-serif;
    }

    .main-bar-foto {
        grid-area: a7;
        @extend .main-fotos;
    }

    .main-bar-texto {
        grid-area: a6;
        @extend .main-texto-home;
    }
    
    h3 {
        font-size: 'Roboto', sans-serif;
        text-align: center;
        color: #014f86;
        font-size: 25px;
        font-weight: 300;
    }

    p {
        font-size: 'Roboto', sans-serif;
        text-align: center;
        color: #b1a7a6;
        font-size: 20px;
        font-weight: 300;
        margin-top: 1rem;
    }
    
    img {
        height: 100%;
        width: 100%;
        border-radius: 50%; 
        border: 3px solid;
        color: #f5f5f7;
    }
}

.flex-tirolina {
    width: 90%;
}
/* FIN MAIN HOME */

/* INICIO MAIN 2 HOME */

.overlap-intento {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a1"
                         "a2";
    height: 500px;
    justify-items: center;
    align-content: space-between;
    justify-content: center;
}

.grid1 {
    width: 90%;
    grid-area: a2;
}

.grid2 {
    grid-area: a1;
    width: 90%;
    display: flex;
    align-items: center;

    img {
        border-radius: 2%;
        border: 5px solid;
        color: #f5f5f7;
        height: 80%;
        width: 100%;
    }
}

.overlap-intento {
    
    font-family: 'Roboto', sans-serif;

    h3 {
        color: #014f86;
        font-size: 20px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    a {
        text-decoration: none;
        background-color: #f7b53b;
        color: white;
        padding: 10px 10px;
    }
}

/* FIN MAIN 2 HOME */

/* MAIN TIROLINA INICIO */

.main-div-tirolina {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-tirolina-intro {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.main-tirolina-intro h2 {
    color: #014f86;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 7rem;
    text-align: center;
}

.main-tirolina-intro p {
    color: #b1a7a6;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.tirolina {
    
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 3rem;


    .salto-individual {
        height: 150px;
        width: 100%;
    }

    .salto-tandem {
        height: 150px;
        width: 100%;
    }

    img {
        height: 100%;
        width: 100%;
        border-radius: 2%;
        border: 3px solid;
        color: #f5f5f7;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        color: #014f86;
        text-align: center;
        font-size: 25px;
    }
    
    p {
        font-family: 'Roboto', sans-serif;
        color: #b1a7a6;
        text-align: left;
        font-size: 20px;
        margin-top: 1rem;

    }
}

.main-tirolina {
    height: 2500px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  1.5fr 1fr 1fr;
    grid-template-areas: "a3"
                         "a4"
                         "a5";
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

    .main-tirolina-requisitos {
        grid-area: a3;
        width: 100%;
        margin-top: 5rem;
    }
    
    h3 {
        font-family: 'Roboto', sans-serif;
        color: #014f86;
        text-align: center;
        font-size: 25px;
    }
    
    .ul-tirolina {
        font-family: 'Roboto', sans-serif;
        color: #b1a7a6;
        font-size: 20px;
        margin-top: 2rem;
    }
    
    .ul-tirolina-dos {
        margin-left: 2rem;
    }
    
    li {
        margin-top: 0.5rem;
    }

    .main-tirolina-tickets {

        .main-tirolina-tickets-texto {

            width: 250px;
            
            @mixin texto-tickets ($fontSize, $color){
                font-size: $fontSize;
                color: $color;
                font-family: 'Roboto', sans-serif;
            }
            h3 {
                @include texto-tickets(20px, #014f86)
            }

            h4 {
                @include texto-tickets(20px, black)
            }

            p {
                @include texto-tickets(15px, #b1a7a6)
            }

            a {
                @include texto-tickets(15px, white);
                text-decoration: none;
                background-color: #f7b53b;
                padding: 10px 10px;
            }
        } 
    }

    .main-tirolina-fotos-tickets {
        
        display: flex;
        flex-direction: column;
        gap: 2rem;

        img {
            width: 50%;
            height: 50%;
            border-radius: 50%;
        }

        .tickets-superman {
            width: 100%;
            height: 100%;
        }

        .tickets-tandem {
            width: 100%;
            height: 100%;
        }

        h4 {
            color: #014f86;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
        }
    }
}



/* MAIN TIROLINA FIN */

/* INICIO MAIN CABALLOS MOBILE */

.paseo-main {
    height: 1800px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.7fr 1,5fr;
    justify-content: space-between;
    grid-template-areas:    "a1"
                            "a2"
                            "a3";
    align-items: center;    
    align-content: center; 
    justify-items: center;

}

.paseo-main-intro {
    grid-area: a1;
    width: 90%;
    margin: 5rem 0 3rem 0;
}

.paseo-main h2 {
    color: #014f86;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

.paseo-main p {
    font-family: 'Roboto', sans-serif;
    color: #b1a7a6;
    text-align: center;
    font-size: 20px;
    margin-top: 1rem;
}

.paseo-main img {
    height: 100%;
    width: 100%;
}

.paseo-imagen-uno {
    grid-area: a2;
    width: 90%;
}

.paseo-main-requisitos {
    grid-area: a3;
    width: 90%;
    margin-top: 5rem;
}

.ul-caballos {
    font-family: 'Roboto', sans-serif;
    color: #b1a7a6;
    font-size: 20px;
    margin-top: 2rem;
}

.ul-caballos li {
    margin-top: 0.5rem;
}

.paseo-main h3 {
    font-family: 'Roboto', sans-serif;
    color: #014f86;
    text-align: center;
    font-size: 25px;
}

.paseo-main h4 {
    color: #014f86;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 1rem 0;
    text-align: center;
}

.caballos-tickets {
    flex-direction: column;
    gap: 5rem;
}

.caballos-tickets-izquierda {

    display: flex;
    flex-direction: row;
    justify-content: center;

   .caballo-tickets-texto {

        width: 80%;
   
        h3 {
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        color: #014f86;
        text-align: start;
        }

        h4 {
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            color: black;
            text-align: start;
        }

        p {
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            color: #b1a7a6;
            text-align: start;
            width: 100%;
        }

        a {
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            color: white;
            text-align: start;
            background-color: #f7b53b;
            padding: 10px 10px;
        }

    }
}

.caballos-tickets-derecha {

    flex-direction: column;

    img {
        border-radius: 50%;
    }

    h4 {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: #014f86;
        text-align: start;
    }

    p {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: #b1a7a6;
    }
}

/* FIN MAIN CABALLOS MOBILE */

/* INICIO MAIN TERRAZA MOBILE */

.main-terraza {
    height: 3600px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a1"
                         "a2"
                         "a3"
                         "a4"
                         "a5"
                         "a6"
                         "a7"
                         "a8"
                         "a9"
                         "a10";
    justify-items: center;

    .main-terraza-intro {
    
        grid-area: a1;
        width: 90%;  
        margin: 5rem 0 3rem 0;
    
        h2 {
            color: #014f86;
            font-weight: 900;
            font-size: 30px;
            font-family: 'Roboto', sans-serif;
            margin-top: 3rem;
            text-align: center;
        }
    
        p {
            font-family: 'Roboto', sans-serif;
            color: #b1a7a6;
            text-align: center;
            font-size: 20px;
            margin-top: 2rem;
        }
    }

    .boton-carta-consulta {
        margin: 3rem 0;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        text-decoration: none;
        color: white;
        text-align: start;
        background-color: #f7b53b;
        padding: 10px 10px;
        border-radius: 1%;
    }
}

.div-desayunos {
    display: none;
}

.div-restaurante {
    display: none;
}

.main-terraza-desayunos {
    border-radius: 1%;
    grid-area: a2;
    width: 80%;
    height: 80%;
    background-image: url(../img/fotodesa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-terraza-desayunos-texto {
    grid-area: a3;
}

.main-terraza-restaurante-texto {
    grid-area: a5;
}

.main-terraza-copas-texto {
    grid-area: a7;
}

.main-terraza-postres-texto {
    grid-area: a9;
}

.main-terraza-food {
    border-radius: 1%;
    grid-area: a4;
    width: 80%;
    height: 80%;
    background-image: url(../img/fotorest.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-terraza-bebidas {
    border-radius: 1%;
    grid-area: a6;
    width: 80%;
    height: 80%;
    background-image: url(../img/fotocopas.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-terraza-postres {
    border-radius: 1%;
    grid-area: a8;
    width: 80%;
    height: 80%;
    background-image: url(../img/fotopostre.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-terraza-eventos {
    grid-area: a10;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: left;
    }
}

.main-terraza-texto-mobile {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: start;
    gap: 0rem;
}

.main-terraza-texto-mobile a {
    font-family: 'Roboto', sans-serif;
    color: #b1a7a6;
    font-size: 18px;
}

.main-terraza p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #b1a7a6;
    text-align: center;
    margin-top: 1rem;
}

.main-terraza h3 {
    text-align: center;
    color: #014f86;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

/* FIN MAIN TERRAZA MOBILE */

/* MAIN FORM INICIO MOBILE */

.intro-contacto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.intro-contacto h2 {
    color: #014f86;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5rem;
    text-align: center;
}

.intro-contacto p {
    font-family: 'Roboto', sans-serif;
    color: #b1a7a6;
    text-align: center;
    font-size: 20px;
    width: 80%;
}

.main-contacto-grid {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 1fr 1fr;
   width: 100%;
   align-items: center;
   justify-items: center;
   margin: 2rem 0;
   gap: 2rem;
}

.main-contacto-grid h3 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #014f86;
    text-align: center;
    margin-bottom: 2rem;
}

.main-contacto-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-contacto-izquierda {
    width: 85%;
}

.main-contacto-derecha {
    width: 90%;
    margin-bottom: 2rem;
}

.main-contacto-grid ul {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    color: #b1a7a6;
    font-size: 20px;
    text-align: left;
    margin-bottom: 1rem;
    padding: 0;
}

.input-nombre {
    border: none;
    background-color: #edede9;
    height: 2rem;
    padding-left: 1rem;
    font-family: 'Roboto', sans-serif;
}

.input-email {
    border: none;
    background-color: #edede9;
    height: 2rem;
    padding-left: 1rem;
    font-family: 'Roboto', sans-serif;
}

.input-telefono {
    border: none;
    background-color: #edede9;
    height: 2rem;
    padding-left: 1rem;
    font-family: 'Roboto', sans-serif;
}

.input-consulta {
    border: none;
    background-color: #edede9;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

.input-boton {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #f7b53b;
    border-radius: 2px;
    width: 50%;
    padding: 0.7rem;
}

.input-boton:hover {
    color: #014f86;
}

/* MAIN FORM FIN MOBILE */

/* INICIO FAQ */

.acordion {
    width: 100%;
}

.faq {
    margin: 2rem 0;
}

.faq button {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.faq h3 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #014f86;
    text-align: center;
    margin-bottom: 2rem;
}

.accordion-body {
    font-family: 'Roboto', sans-serif;
    color: #b1a7a6;
    font-size: 20px;
    margin-top: 1rem;
}

/* FIN FAQ */

/* INICIO MAPA CONTACTO */

.div-mapa {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    align-items: center; 
}

.mapa {
    width: 80%;
    height: 80%;  
    margin-bottom: 2rem; 
}

.div-mapa h3 {
    color: #014f86;
    font-weight: 900;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* FIN MAPA CONTACTO */

/* FOOTER INICIO */

.footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a1"
                         "a2"
                         "a3";
    background-color: #f5f5f7;
}

.footerIzquierda {
    grid-area: a1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.footerCentro {
    grid-area: a2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerDerecha {
    grid-area: a3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerIzquierdaDentro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerCentroDentro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerDerechaDentro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.footer a {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.footer h4 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* FOOTER FIN */

@import "query-min-481.scss";
@import "query-min-769.scss";
@import "query-min-1025.scss";